<h1>Billboards</h1>
<% @musicboards.each do |board| %>
<h2><%= board.name %></h2>
<%= link_to 'Show', musicboard_path(board) %>
<%= link_to 'Edit', edit_musicboard_path(board) %>
<%= link_to 'Delete', musicboard_path(board), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
<hr />
<%= link_to 'Create New', new_musicboard_path %>

