<h1><%= @artist.name %></h1>
<p><%= @artist.genre %></p>
<div class="ui relaxed divided list">
  <% @artist.songs.sort.each do |song| %>
    <div class="item"> 
     <i class="large music middle aligned icon"></i>
      <div class="content">
      <a class="header"><%= song.name %></a>
        <span><%= link_to "Play", artist_song_path(@artist, song) %></span>
        <span><%= link_to "Edit", edit_artist_song_path(@artist, song) %></span>
        <span><%= link_to "Delete", artist_song_path(@artist, song), method: :delete, data: {confirm: "Are you sure?"} %></span>
        <span><%= form_with(model: [@artist, song], local: true) do |f| %>
        <%= "Display on Billboard: " %>
        <% @sorted = @musicboards.map{ |n| [n.name, n.id]}.sort %>
        <% @sorted.unshift([nil, nil]) %>
        <%= f.select :musicboard_id, @sorted %>
        <span> <%= f.submit 'Save' %></span>
          <% end %>
      
          <div class="description">from album: <%= song.album %>
          </div>
    </div>
    </div>
    <% end %>
<h5><%= link_to 'Create Song', new_artist_song_path(@artist) %></h5>
